<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">//<![CDATA[
    connect();
    var notified = false;
    function connect() {
        if(window.s){
            window.s.close()
        }
        var a = document.getElementById('toWhom');
        var text = 0;
        if (a !== null) {
            text = Number(a.val());
        }

        var s = new WebSocket("ws://" + window.location.host + "/chat/connect/" + text);
        s.onopen = function () {
            console.log('WebSocket open');
        };
        s.onmessage = function (e) {
            if (!notified) {
                if (e.data === "<this_is_notification>") notified = true;
            } else{
                if (document.getElementById(e.data) === null) {
                    var token = getCSRFToken();
                    $('#notification').prepend('<form name="form" action="/chat/chat/' + e.data + '" method ="POST"><img onClick="document.all.form.submit();" id ="n' + e.data + '" src = "http://www.100hero.com/d/file/news/tongzhi/2017-09-19/4d4fabcfb7210f21f5499056777d1657.gif?size=177x206">'+
                        '<input type="hidden" name="csrfmiddlewaretoken" value="'+ token +'"></form>');
                }
                notified = false;
            }
        };
        window.s = s;
        console.log(window.s);
    }

    function getCSRFToken() {
        var cookies = document.cookie.split(";");
        for (var i = 0; i < cookies.length; i++) {
            if (cookies[i].startsWith(" csrftoken=")) {
                return cookies[i].substring(" csrftoken=".length, cookies[i].length);
            }
        }
        return "unknown";
    }

    </script>

</head>
<body>
    {% for i in on_line %}
        <form action="/chat/chat/{{ i.id }}" method="POST">
        <button type="submit">{{ i.username }}</button>
        {% csrf_token %}
        </form>
    {% endfor %}
    <div id = "notification">
    </div>
</body>
</html>