{% extends 'homepage.html' %}

{% block content %}
    <h3 style="font-size: 24px;">Secure Log-in</h3>
    <form method="post" action="{% url 'login' %}" id="loginForm" style="max-wdith: 300px;" class="form-signin">
    <div class="form-group" style="margin-top:20px;">
        <input id="username" type="text" name="username"  style="height: 30px; margin-bottom: 0px;" placeholder="Enter your User ID" required class="form-control">
    </div>
    <div class="form-group">
        <input id="password" type="password" name="password" style="height: 30px;" placeholder="Enter your passcode" required class="form-control">
    </div>
    <input type="checkbox" checked>
        <span style="font-size: 14px; color: #f7c20a;"><strong>Save Info</strong></span>
    <input type="submit" style="float: right; height: 40px; width: 70px; display: inline; color:#fff; padding-left: 14px; background-color: #404040;" value="Log in" class="btn btn-default btn-block">
        <div  style="height:60px; line-height: 20px; padding-top:5px;">
        {{ errors }}
    </div>

    {% csrf_token %}
</form>
{% endblock %}