<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"><!--<![endif]-->
<head>
	<!-- Basic Page Needs -->
	<meta charset="UTF-8">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
	<title>Financial Occult</title>

	<meta name="author" content="themsflat.com">

	<!-- Boostrap style -->
	<link rel="stylesheet" type="text/css" href="/static/stylesheet/bootstrap.css">

	<!-- Theme style -->
	<link rel="stylesheet" type="text/css" href="/static/stylesheet/style.css">

    <!-- Colors -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/colors/color1.css" id="colors">
      
	<!-- Reponsive -->
	<link rel="stylesheet" type="text/css" href="/static/stylesheet/responsive.css">

    <!-- Animation Style -->
    <link rel="stylesheet" type="text/css" href="/static/stylesheet/animate.css">

    <!-- Favicon and touch icons  -->
    <link href="/static/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="/static/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="/static/icon/favicon.png" rel="shortcut icon">

    <link rel="stylesheet" href="/static/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/stylesheet/nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="http://dreamsky.github.io/main/blog/common/init.css">

</head>
	<body>

    <div class="boxed">
        <!-- Preloader -->
        <!--<div class="preloader">-->
            <!--<div class="clear-loading loading-effect-2">-->
                <!--<span></span>-->
            <!--</div>-->
        <!--</div>-->

        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="flat-infomation">
                            <li class="phone">Call us: <a href="+61383766284" title="phone">+61 3 8376 6284</a></li>
                            <li class="email">Email: <a href="mailto:support24-7@gmail.com" title="email">support24-7@gmail.com</a></li>
                        </ul><!-- /flat-infomation -->
                        <div class="flat-questions">
                            <a href="#" title="" class="questions">Have any questions?</a>
                            <a href="#" title="" class="appointment">GET AN APPOINTMENT</a>
                        </div><!-- /.flat-questions -->
                        <div class="clearfix"></div><!-- /.clearfix -->
                    </div>
                </div>
            </div>
        </div><!-- /.top -->
        
        <header id="header" class="header bg-color">
            <div class="container">
                <div class="row">
                    <div class="header-wrap">
                        <div class="col-md-2">
                            <div id="logo" class="logo">
                                <a href="#" title="">
                                    <img src="/static/images/logo-blog.png" alt="logo Finance Business"/>
                                </a>
                            </div><!-- /#logo -->                            
                        </div><!-- /.col-md-2 -->
                        <div class="col-md-10"> 
                            <div class="flat-show-search">
                                <div class="show-search">
                                    <a href="#"><i class="fa fa-search"></i></a>                                             
                                </div>
                                <div class="top-search">                        
                                    <form action="#" id="searchform-all" method="get">
                                        <div>
                                            <input type="text" id="s" class="sss" placeholder="Search...">
                                            <input type="submit" value="" id="searchsubmit">
                                        </div>
                                    </form>
                                </div> <!-- /.top-search -->
                            </div>  <!-- /.flat-show-search -->                 
                            <div class="nav-wrap">
                                <div class="btn-menu">
                                    <span></span>
                                </div><!-- //mobile menu button -->                             
                                <nav id="mainnav" class="mainnav">
                                    <ul class="menu">
                                        <li>
                                            <a href="index.html" title="">Home  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html" title="">Home Classic Header</a></li>
                                                <li><a href="index-v3.html" title="">Home Widget Header</a></li>
                                                <li><a href="index-v2.html" title="">Home Modern Header</a></li>
                                                <li><a href="index-v4.html" title="">Home Transparent Header</a></li>
                                                <li><a href="index-layout2.html" title="">Home Layout 02</a></li>
                                                <li><a href="index-v5.html" title="">Home Layout 03</a></li>
                                            </ul><!-- /.sub-menu -->
                                        </li>
                                        <li>
                                            <a href="about-v1.html" title="">Banking  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="about-v1.html" title="">Our Team</a></li>
                                                <li><a href="about-v2.html" title="">Team Grid</a></li>
                                                <li><a href="about-v3.html" title="">Overview</a></li>
                                            </ul><!-- /.sub-menu -->
                                        </li>
                                        <li>
                                            <a href="services-v1.html" title="">Credit Cards  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="services-v1.html" title="">Services Grid</a></li>
                                                <li><a href="services-v2.html" title="">Risk Management</a></li>
                                            </ul><!-- /.sub-menu -->
                                        </li>
                                        <li>
                                            <a href="portfolio-v3.html" title="">Loans  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="portfolio-v3.html" title="">Portfolio Default</a></li>
                                                <li><a href="portfolio-v2.html" title="">Layout 02</a></li>
                                                <li><a href="portfolio-v1.html" title="">Portfolio Load More</a></li>
                                            </ul><!-- /.sub-menu -->
                                        </li>
                                        <li>
                                            <a href="blog.html" title="">Investments  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html" title="">Blog</a></li>
                                                <li><a href="blog-single.html" title="">Blog Grid</a></li>
                                            </ul><!-- /.sub-menu -->
                                        </li>
                                        <li>
                                            <a href="contact-v1.html" title="">Contact  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                <li><a href="contact-v1.html" title="">Contact 01</a></li>
                                                <li><a href="contact-v2.html" title="">Contact 02</a></li>
                                            </ul><!-- /.sub-menu -->
                                        </li>                                       
                                    </ul><!-- /.menu -->                                    
                                </nav><!-- /#mainnav -->                                                            
                            </div><!-- /.nav-wrap -->
                        </div><!-- /.col-md-9 -->
                    </div><!-- /.header-wrap -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </header><!-- /header -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div id="wrapper">
                            <div class="slider-wrapper theme-default">
                                <div id="slider" class="nivoSlider"  style="height:350px; z-index:0">
                                <img src="/static/img/slider1.png" alt="" />
                                <img src="/static/img/slider2.png" alt=""/>
                                <img src="/static/img/slider3.png" alt=""/>
                                <img src="/static/img/slider4.png" alt=""/>
                                </div>
                            </div>
                            <div class="footer-banner" style="width:728px; margin:0 auto">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar left">
                            <br>
                            <div class="widget widget-brochure services" style="height: 200px; margin-bottom: 0px;">
                            {% if user.is_authenticated %}
                                <p style="padding-bottom: 10px;font-size: 24px;">Hello, {{ user.username }}</p>
                                <p style="padding-bottom: 10px;">
                                <span>check your balance</span>
                                <a href="#"><span style="float: right; color: #18ba60;">my account</span></a>
                                </p>
                                <p style="padding-bottom: 10px;">
                                <span>Looking for competitive interest rates? Look no further -- You've found them</span><a href="#"><span style="float: right; color: #18ba60;">view detail</span></a>
                                </p>
                                <p>
                                <a href="/logout/" style="font-size:14px;color: #18ba60;">log out</a>
                                </p>
                            {% else %}

                                {% block content %}
                                {% endblock %}
                                <a href="#"><span style="font-size:14px;color: #18ba60;">Forgot ID </span></a><span style="font-size:14px;"> | </span><a href="#"><span style="font-size:14px;color: #18ba60;"> Password</span></a>
                                <a href="/signup/"><span style="float: right;font-size:14px;color: #18ba60;"> Eroll</span></a>

                            {% endif %}
                            </div>
                            <div class="widget widget-brochure services" style="border:none; background-color: #f7f7f7;">
                                <h3>Sign on to another service: </h3>
                                <select style="margin-top:10px;height:25px;margin-bottom:15px;background-color: #fff;">
                                    <option value="service1">service1</option>
                                    <option value="service2">service2</option>
                                    <option value="service3">service3</option>
                                    <option value="service4">service4</option>
                                </select>
                            </div>
                        </div><!-- /.widget-brochure -->
                    </div><!-- /.sidebar -->
                </div>
            </div>
        </section>
        <section class="flat-row pd-imagebox">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="imagebox-item">
                            <div class="imagebox style1">
                                <div class="imagebox-image">
                                    <img src="/static/images/imagebox/001.jpg" alt="">
                                </div><!-- /.imagebox-image -->
                                
                                <div class="imagebox-title">
                                    <h3><a href="#" title="">Business Ideas And Innovation</a></h3>
                                </div><!-- /.iamgebox-title -->
                                <div class="imagebox-content">
                                    <div class="imagebox-desc">
                                        Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis 
                                    </div>
                                    <div class="imagebox-button">
                                        <a href="#" title="">read more</a>
                                    </div>
                                </div><!-- /.imagebox-content -->
                            </div><!-- /.imagebox -->
                        </div><!-- /.imagebox-item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3">
                        <div class="imagebox-item">
                            <div class="imagebox style1">
                                <div class="imagebox-image">
                                    <img src="/static/images/imagebox/002.jpg" alt="">
                                </div><!-- /.imagebox-image -->
                                <div class="imagebox-title">
                                    <h3><a href="#" title="">Business Ideas And Innovation</a></h3>
                                </div><!-- /.imagebox-title -->
                                <div class="imagebox-content">
                                    <div class="imagebox-desc">
                                        Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis 
                                    </div>
                                    <div class="imagebox-button">
                                        <a href="#" title="">read more</a>
                                    </div>
                                </div><!-- /.imagebox-content -->
                            </div><!-- /.imagebox -->
                        </div><!-- /.imagebox-item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3">
                        <div class="imagebox-item">
                            <div class="imagebox style1">
                                <div class="imagebox-image">
                                    <img src="/static/images/imagebox/001.jpg" alt="">
                                </div><!-- /.imagebox-image -->
                                
                                <div class="imagebox-title">
                                    <h3><a href="#" title="">Business Ideas And Innovation</a></h3>
                                </div><!-- /.iamgebox-title -->
                                <div class="imagebox-content">
                                    <div class="imagebox-desc">
                                        Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis 
                                    </div>
                                    <div class="imagebox-button">
                                        <a href="#" title="">read more</a>
                                    </div>
                                </div><!-- /.imagebox-content -->
                            </div><!-- /.imagebox -->
                        </div><!-- /.imagebox-item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-3">
                        <div class="imagebox-item">
                            <div class="imagebox style1">
                                <div class="imagebox-image">
                                    <img src="/static/images/imagebox/003.jpg" alt="">
                                </div><!-- /.imagebox-image -->
                                <div class="imagebox-title">
                                    <h3><a href="#" title="">Directory Of Finance Businesses</a></h3>
                                </div><!-- /.imagebox-title -->
                                <div class="imagebox-content">
                                    <div class="imagebox-desc">
                                        Sed ut perspiciatis unde omnis iste error sit voluptatem accusantium doloremque lau dantium, rem aperiam eaque ipsa ab illo inventore veritatis 
                                    </div>
                                    <div class="imagebox-button">
                                        <a href="#" title="">learn more</a>
                                    </div>
                                </div><!-- /.imagebox-content -->
                            </div><!-- /.imagebox -->
                        </div><!-- /.imagebox-item -->
                    </div><!-- /.col-md-4 -->

                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.flat-row-imagebox -->

        <section class="flat-row flat-iconbox bg-theme">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section left">
                            <h2>Our Services</h2>
                        </div><!-- /.title-section -->
                    </div>
                </div><!-- /.row -->

                <div class="row">

                    <div class="col-md-4">
                        <div class="iconbox-item">
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="icon-rounded ion-clipboard">
                                        
                                    </div><!-- /.icon-rounded -->
                                    <div class="box-title">
                                        <a href="'#" title="">Accumulation</a>
                                    </div><!-- /.box-title -->
                                </div><!-- /.box-header -->
                                <div class="box-content">
                                    Donec lacinia mi rutrum sagittis
                                    consequat. Donec sagittis, tellus sodales
                                    sollicitudin commodo 
                                </div><!-- /.box-content -->
                            </div><!-- /.iconbox -->
                        </div><!-- /.iconbox-item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="iconbox-item">
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="icon-rounded line-chart">
                                        
                                    </div>
                                    <div class="box-title">
                                        <a href="'#" title="">Mutual Funds</a>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-content">
                                    Donec lacinia mi rutrum sagittis
                                    consequat. Donec sagittis, tellus sodales
                                    sollicitudin commodo 
                                </div><!-- /.box-content -->
                            </div><!-- /.iconbox -->
                        </div><!-- /.iconbox-item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="iconbox-item">
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="icon-rounded clock">
                                        
                                    </div>
                                    <div class="box-title">
                                        <a href="'#" title="">Risk Management</a>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-content">
                                    Donec lacinia mi rutrum sagittis
                                    consequat. Donec sagittis, tellus sodales
                                    sollicitudin commodo 
                                </div><!-- /.box-content -->
                            </div><!-- /.iconbox -->
                        </div><!-- /.iconbox-item -->
                    </div><!-- /.col-md-4 -->

                </div><!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
                        <div class="height80"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="iconbox-item">
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="icon-rounded magic">
                                        
                                    </div>
                                    <div class="box-title">
                                        <a href="'#" title="">Estate Planning</a>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-content">
                                    Donec lacinia mi rutrum sagittis
                                    consequat. Donec sagittis, tellus sodales
                                    sollicitudin commodo 
                                </div><!-- /.box-content -->
                            </div><!-- /.iconbox -->
                        </div><!-- /.iconbox-item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="iconbox-item">
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="icon-rounded artboard">
                                        
                                    </div>
                                    <div class="box-title">
                                        <a href="'#" title="">Retirement Planning</a>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-content">
                                    Donec lacinia mi rutrum sagittis
                                    consequat. Donec sagittis, tellus sodales
                                    sollicitudin commodo 
                                </div><!-- /.box-content -->
                            </div><!-- /.iconbox -->
                        </div><!-- /.iconbox-item -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="iconbox-item">
                            <div class="iconbox style1">
                                <div class="box-header">
                                    <div class="icon-rounded global">
                                        
                                    </div>
                                    <div class="box-title">
                                        <a href="'#" title="">Business Planning</a>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-content">
                                    Donec lacinia mi rutrum sagittis
                                    consequat. Donec sagittis, tellus sodales
                                    sollicitudin commodo 
                                </div><!-- /.box-content -->
                            </div><!-- /.iconbox -->
                        </div><!-- /.iconbox-item -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->

            </div><!-- /.container -->
        </section><!-- /.flat-row-iconbox -->

        <section class="flat-row flat-news">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section left">
                            <h2>
                                Your News and Information
                            </h2>
                        </div><!-- /.title-section -->
                    </div>
                </div><!-- /.row -->

                <div class="row">

                    <div class="col-md-4">
                        <article class="post style2">
                            <div class="featured-post">
                                <a href="blog.html" title="" class="post-image">
                                    <img src="/static/images/news/large-01.jpg" alt="">
                                </a>
                                <ul class="post-date">
                                    <li class="day">11</li>
                                    <li class="month">JAN</li>
                                </ul>
                            </div><!-- /.featured-post -->
                            <div class="content-post">
                                <h4 class="title-post">
                                    <a href="blog.html" title="">Why Do I Need To Use Financial ?</a>
                                </h4>
                                <div class="entry-post">
                                    <p>Sed facilisis lorem in orci bibendum
                                        ullamcorper. Mauris vitae augue
                                        elementum, ...</p>
                                </div>      
                            </div><!-- /.content-post -->
                        </article><!-- /.post -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <article class="post style2">
                            <div class="featured-post">
                                <a href="blog.html" title="" class="post-image">
                                    <img src="/static/images/news/large-02.jpg" alt="">
                                </a>
                                <ul class="post-date">
                                    <li class="day">11</li>
                                    <li class="month">JAN</li>
                                </ul>
                            </div><!-- /.featured-post -->
                            <div class="content-post">
                                <h4 class="title-post">
                                    <a href="blog.html" title="">Why your sales forecast is off</a>
                                </h4>
                                <div class="entry-post">
                                    <p>Sed facilisis lorem in orci bibendum
                                        ullamcorper. Mauris vitae augue
                                        elementum, ...
                                    </p>
                                </div>      
                            </div><!-- /.content-post -->
                        </article><!-- /.post -->
                    </div><!-- /.col-md-4 -->

                    <div class="col-md-4">
                        <div class="slidebar-news">
                        <aside class="widget widget-recent-news">
                            <ul class="recent-news">
                                <li>                                    
                                    <div class="thumb">
                                        <span class="overlay-pop"></span>
                                        <a href="blog.html">
                                            <img src="/static/images/news/image-small-01.png" alt="">
                                        </a><!-- /.thumb --> 
                                    </div><!-- /.row -->                                          
                                    <div class="text">
                                        <h4>
                                            <a href="blog.html" title="">Why Do I Need To Use Financial ?</a>
                                        </h4>
                                        <div class="entry-post">
                                            <p>January 11, 2017</p>
                                        </div>
                                    </div><!-- /.content-post -->                                   
                                </li>

                                <li>                                    
                                    <div class="thumb">
                                        <span class="overlay-pop"></span>
                                        <a href="blog.html">
                                            <img src="/static/images/news/image-small-02.png" alt="">
                                        </a><!-- /.thumb --> 
                                    </div><!-- /.row -->                                          
                                    <div class="text">
                                        <h4>
                                            <a href="blog.html" title="">Why your sales forecast is off</a>
                                        </h4>
                                        <div class="entry-post">
                                            <p>January 11, 2017</p>
                                        </div>
                                    </div><!-- /.content-post -->                                    
                                </li>

                                <li>                                   
                                    <div class="thumb">
                                        <span class="overlay-pop"></span>
                                        <a href="blog.html">
                                            <img src="/static/images/news/image-small-03.png" alt="">
                                        </a><!-- /.thumb --> 
                                    </div><!-- /.row -->                                          
                                    <div class="text">
                                        <h4>
                                            <a href="blog.html" title="">6 tips to retain your top sales talent</a>
                                        </h4>
                                        <div class="entry-post">
                                            <p>January 11, 2017</p>
                                        </div>
                                    </div><!-- /.content-post -->                                   
                                </li>

                                <li>                                    
                                    <div class="thumb">
                                        <span class="overlay-pop"></span>
                                        <a href="blog.html">
                                            <img src="/static/images/news/image-small-04.png" alt="">
                                        </a><!-- /.thumb --> 
                                    </div><!-- /.row -->                                          
                                    <div class="text">
                                        <h4>
                                            <a href="blog.html" title="">What the martian can teach sales</a>
                                        </h4>
                                        <div class="entry-post">
                                            <p>January 11, 2017</p>
                                        </div>
                                    </div><!-- /.content-post -->                                    
                                </li>
                            </ul>
                        </aside><!-- /.widget-recent-news -->
                        </div><!-- /.slidebar-news -->
                    </div><!-- /.col-md-4 -->

                </div><!-- /.row -->

            </div><!-- /.container -->
        </section><!-- /.flat-news -->
        <section>
            <div class="container">
                <div class="box-content">
                    <div class="title">Online Banking Service Agreement</div>
                    <p>In your life, you may have many times facing financial issues. It’s good if you know how to handle it by yourself and have enough time to take care of it. In other cases, it’s time you get a financial consulting service. And the article below will show you those cases.quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <div class="dividers dividers-bc-v4"></div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="widget-infomation">
                                <ul class="infomation-footer">
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#" title="">support@themesflat.com</a></li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i><a href="#" title="">+61 3 8376 6284</a></li>
                                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><a href="#" title="">PO Box 16122 Collins Street West Victoria 8007 Australia</a></li>
                                </ul><!-- /.infomation-footer -->
                            </div><!-- /.widget-infomation -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                    <div class="row widget-box">
                        <div class="col-md-4">
                            <div class="widget widget-text">
                                <p>Lorem ipsum dolor sit consectetur adipiscing elit sed
                                    do eiusmod tempor incididunt ut labore et dolore 
                                        magna veniam aliqua.Ut enim ad minim veniam
                                </p>
                                <p>
                                    Ut enim ad minim veniam, quis nostrud exercitation
                                    ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate 
                                </p>    
                            </div><!-- /.widget-text -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <div class="widget widget-services">
                                <ul class="one-half first">
                                    <li><a href="#" title="">About Us</a></li>
                                    <li><a href="#" title="">Advertise</a></li>
                                    <li><a href="#" title="">Terms & Conditions</a></li>
                                    <li><a href="#" title="">Privacy Policy</a></li>
                                    <li><a href="#" title="">Careers</a></li>
                                    <li><a href="#" title="">Shop</a></li>
                                </ul><!-- /.one-half -->
                                <ul class="one-half">
                                    <li><a href="#" title="">Home</a></li>
                                    <li><a href="#" title="">Testimonials</a></li>
                                    <li><a href="#" title="">News</a></li>
                                    <li><a href="#" title="">Services</a></li>
                                    <li><a href="#" title="">Corporate Client</a></li>
                                </ul><!-- /.one-half -->
                            </div><!-- /.widget-services -->
                        </div><!-- /.col-md-4 -->
                        <div class="col-md-4">
                            <div class="widget widget-subscribe">
                                <form id="subscribe-form" action="#" method="post" accept-charset="utf-8" data-mailchimp="true">
                                    <div id="subscribe-content">
                                        <label for="form-email-footer">Email address:</label>
                                        <div class="input-email">
                                            <input type="email" name="email-form" id="subscribe-email" placeholder="Your email address" />
                                        </div>
                                        <button type="button" id="subscribe-button" class="button-subscribe">SUBMIT</button>
                                    </div>
                                    <div id="subscribe-msg"></div>
                                </form>
                            </div><!-- /.widget-subscribe -->
                            
                        </div><!-- /.col-md-4 -->
                    </div><!-- /.row .widget-box -->
                </div><!-- /.container -->
            </div><!-- /.footer-widgets -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright 2017 Finance. Theme by <a href="#" title="">Themesflat</a></p>
                            </div>
                            <ul class="menu-footer">
                                <li><a href="#" title="">Home</a></li>
                                <li><a href="#" title="">My Blog</a></li>
                                <li><a href="#" title="">My Home</a></li>
                                <li><a href="#" title="">Sample Page</a></li>
                            </ul><!-- /.menu-footer -->
                        </div>
                    </div>
                </div>
            </div><!-- /.footer-bottom -->
        </footer><!-- /#footer -->
        <div class="button-go-top">
            <a href="#" title="" class="go-top">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>

        </div> <!-- /.boxed -->

	<!-- Javascript -->
    <script type="text/javascript" src="/static/javascript/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/javascript/owl.carousel.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/static/javascript/waypoints.min.js"></script>
    
    <script type="text/javascript" src="/static/javascript/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/javascript/jquery-validate.js"></script>
    <script type="text/javascript" src="/static/javascript/main.js"></script>

    <script type="text/javascript" src="/static/scripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/static/scripts/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

	</body>
</html>